In [66]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
cars = pd.read_csv('vehicles.csv')

In [60]:
cars.columns

Index(['Unnamed: 0', 'id', 'url', 'region', 'region_url', 'price', 'year',
       'manufacturer', 'model', 'condition', 'cylinders', 'fuel', 'odometer',
       'title_status', 'transmission', 'VIN', 'drive', 'size', 'type',
       'paint_color', 'image_url', 'description', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [65]:
cars.fuel.value_counts()

gas         399399
diesel       31077
other        16359
hybrid        5790
electric      2351
Name: fuel, dtype: int64

In [62]:
cars.loc[ cars["type"] == "sedan", "usage_type"] = "daily" 
cars.loc[ cars["type"] == "SUV", "usage_type"] = "daily"
cars.loc[ cars["type"] == "pickup", "usage_type"] = "professional"
cars.loc[ cars["type"] == "truck", "usage_type"] = "professional"
cars.loc[ cars["type"] == "other", "usage_type"] = "other"
cars.loc[ cars["type"] == "coupe", "usage_type"] = "daily"
cars.loc[ cars["type"] == "hatchback", "usage_type"] = "daily"
cars.loc[ cars["type"] == "wagon", "usage_type"] = "daily"
cars.loc[ cars["type"] == "van", "usage_type"] = "professional"
cars.loc[ cars["type"] == "convertible", "usage_type"] = "daily"
cars.loc[ cars["type"] == "mini-van", "usage_type"] = "professional"
cars.loc[ cars["type"] == "bus", "usage_type"] = "professional"
cars.loc[ cars["type"] == "offroad", "usage_type"] = "other"
cars.loc[ cars["type"].isnull() , "usage_type"] = "missing"

In [63]:
cars.usage_type.value_counts()

daily           225077
missing         112738
professional     95591
other            24807
Name: usage_type, dtype: int64

# Dummies and grouping for: manufacturer, condition, type,
# cylinders, fuel, title status, transmission,
# drive, paint color

Manufacturer one hot encoded maybe not be the best idea. Too many values.
Maybe build features based on country of origin e.g. Germany for audi, vw etc
or maybe brands that relate in terms of customers 
e.g. mercedes and bmw could be together. 
Or could even be  done by partitioning the data set based on mean 
values of each brand.

There is no point in one hot encoding hennesey for example while having only
one value.

Could also be based on our knowledge. E.g. german cars are considered high class in the U.S.A.

So maybe build new dataframes with each new features and then just add them to the final one by one (merge command).

In [122]:
cars.manufacturer.value_counts()

ford               79666
chevrolet          64977
toyota             38577
honda              25868
nissan             23654
jeep               21165
ram                17697
gmc                17267
dodge              16730
bmw                12352
hyundai            10975
mercedes-benz      10628
subaru             10510
volkswagen         10489
kia                 8854
chrysler            7499
lexus               7119
cadillac            6743
buick               6009
mazda               5931
audi                5583
acura               4008
infiniti            3714
lincoln             3338
pontiac             3037
volvo               2866
mini                2330
mitsubishi          2301
porsche             1779
rover               1662
mercury             1645
saturn              1393
tesla               1067
jaguar              1060
fiat                 955
alfa-romeo           187
harley-davidson      139
ferrari               96
datsun                63
aston-martin          35
land rover            21
morgan                 3
hennessey              1
Name: manufacturer, dtype: int64

In [123]:
cars.isnull().sum()

Unnamed: 0           0
id                   0
url                  0
region               0
region_url           0
price                0
year              1050
manufacturer     18220
model             4846
condition       192940
cylinders       171140
fuel              3237
odometer         55303
title_status      2577
transmission      2442
VIN             187549
drive           134188
size            321348
type            112738
paint_color     140843
image_url           28
description         70
state                0
lat               7448
long              7448
posting_date        28
dtype: int64

Like new and excellent and new should probably be together.
Good and fair could be grouped as well. Fair values are not that many.
Salvage is almost negligible.

In [124]:
cars.condition.value_counts()

good         115685
excellent    115206
like new      24553
fair           7740
new            1428
salvage         661
Name: condition, dtype: int64

Truck and pickup grouped together. Also offroad could be there as well. 
Too few entries.

Van and mini-van grouped together. Other is a bit of a problem here.

Update 24-03: Split into daily use cars and business cars and professional vehicles

In [125]:
cars.type.value_counts()

sedan          92364
SUV            79882
pickup         43343
truck          35694
other          24160
coupe          19106
hatchback      16388
wagon          10473
van             9574
convertible     6864
mini-van        6263
bus              717
offroad          647
Name: type, dtype: int64

Why so many with 6 cylinders?
5 cylinder is supposed to be a 4 cylinder in terms of consumption but with
perks found in a 6 cylinder engine. Seems like an expensive dataset.

All other categories go solo.

Other could be filled depending on the type of car (especially if it is a pickup-truck for example) by giving values of: either the most common value
or by randomly giving values in terms of the distribution of the types' cylinders.

In [126]:
cars.cylinders.value_counts()

6 cylinders     105677
4 cylinders      94767
8 cylinders      81179
5 cylinders       2058
10 cylinders      1543
other             1112
3 cylinders        550
12 cylinders       187
Name: cylinders, dtype: int64

Nothing in particular here. 
Other could be filled by the distribution found in the type for fuel. 
E.g. most pickup tracks are on diesel.

In [127]:
cars.fuel.value_counts()

gas         399399
diesel       31077
other        16359
hybrid        5790
electric      2351
Name: fuel, dtype: int64

# Applying the above to the dataset

In [128]:
cars.columns

Index(['Unnamed: 0', 'id', 'url', 'region', 'region_url', 'price', 'year',
       'manufacturer', 'model', 'condition', 'cylinders', 'fuel', 'odometer',
       'title_status', 'transmission', 'VIN', 'drive', 'size', 'type',
       'paint_color', 'image_url', 'description', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [129]:
cars.manufacturer.value_counts()

ford               79666
chevrolet          64977
toyota             38577
honda              25868
nissan             23654
jeep               21165
ram                17697
gmc                17267
dodge              16730
bmw                12352
hyundai            10975
mercedes-benz      10628
subaru             10510
volkswagen         10489
kia                 8854
chrysler            7499
lexus               7119
cadillac            6743
buick               6009
mazda               5931
audi                5583
acura               4008
infiniti            3714
lincoln             3338
pontiac             3037
volvo               2866
mini                2330
mitsubishi          2301
porsche             1779
rover               1662
mercury             1645
saturn              1393
tesla               1067
jaguar              1060
fiat                 955
alfa-romeo           187
harley-davidson      139
ferrari               96
datsun                63
aston-martin          35
land rover            21
morgan                 3
hennessey              1
Name: manufacturer, dtype: int64

Grouping for manufacturer 
(mini is German but since these are used cars they could be english)
(harley-davidson built just one car. Should be left out imo)
(hennessey also since it modifies cars)
(also no french, spanish or tsech cars?)

cars.loc[ cars["manufacturer"] == "ford", "manuf_country"] = "USA"
cars.loc[ cars["manufacturer"] == "chevrolet", "manuf_country"] = "USA"
cars.loc[ cars["manufacturer"] == "toyota", "manuf_country"] = "Japan"
cars.loc[ cars["manufacturer"] == "honda", "manuf_country"] = "Japan"
cars.loc[ cars["manufacturer"] == "nissan", "manuf_country"] = "Japan"
cars.loc[ cars["manufacturer"] == "jeep", "manuf_country"] = "USA"
cars.loc[ cars["manufacturer"] == "ram", "manuf_country"] = "USA"
cars.loc[ cars["manufacturer"] == "gmc", "manuf_country"] = "USA"
cars.loc[ cars["manufacturer"] == "dodge", "manuf_country"] = "USA"
cars.loc[ cars["manufacturer"] == "bmw", "manuf_country"] = "Germany"
cars.loc[ cars["manufacturer"] == "hyundai", "manuf_country"] = "S.Korea"
cars.loc[ cars["manufacturer"] == "mercedes-benz", "manuf_country"] = "Germany"
cars.loc[ cars["manufacturer"] == "subaru", "manuf_country"] = "Japan"
cars.loc[ cars["manufacturer"] == "volkswagen", "manuf_country"] = "Germany"
cars.loc[ cars["manufacturer"] == "kia", "manuf_country"] = "S.Korea"
cars.loc[ cars["manufacturer"] == "chrysler", "manuf_country"] = "USA"
cars.loc[ cars["manufacturer"] == "lexus", "manuf_country"] = "Japan"
cars.loc[ cars["manufacturer"] == "cadillac", "manuf_country"] = "USA"
cars.loc[ cars["manufacturer"] == "buick", "manuf_country"] = "USA"
cars.loc[ cars["manufacturer"] == "mazda", "manuf_country"] = "Japan"
cars.loc[ cars["manufacturer"] == "audi", "manuf_country"] = "Germany"
cars.loc[ cars["manufacturer"] == "acura", "manuf_country"] = "Japan"
cars.loc[ cars["manufacturer"] == "infiniti", "manuf_country"] = "Japan"
cars.loc[ cars["manufacturer"] == "lincoln", "manuf_country"] = "USA"
cars.loc[ cars["manufacturer"] == "pontiac", "manuf_country"] = "USA"
cars.loc[ cars["manufacturer"] == "volvo", "manuf_country"] = "Sweden"
cars.loc[ cars["manufacturer"] == "mini", "manuf_country"] = "UK"
cars.loc[ cars["manufacturer"] == "mitsubishi", "manuf_country"] = "Japan"
cars.loc[ cars["manufacturer"] == "porsche", "manuf_country"] = "Germany"
cars.loc[ cars["manufacturer"] == "rover", "manuf_country"] = "UK"
cars.loc[ cars["manufacturer"] == "mercury", "manuf_country"] = "USA"
cars.loc[ cars["manufacturer"] == "saturn", "manuf_country"] = "USA"
cars.loc[ cars["manufacturer"] == "tesla", "manuf_country"] = "USA"
cars.loc[ cars["manufacturer"] == "jaguar", "manuf_country"] = "UK"
cars.loc[ cars["manufacturer"] == "fiat", "manuf_country"] = "Italy"
cars.loc[ cars["manufacturer"] == "alfa-romeo", "manuf_country"] = "Italy"
cars.loc[ cars["manufacturer"] == "harley-davidson", "manuf_country"] = "USA"
cars.loc[ cars["manufacturer"] == "ferrari", "manuf_country"] = "Italy"
cars.loc[ cars["manufacturer"] == "datsun", "manuf_country"] = "Japan"
cars.loc[ cars["manufacturer"] == "aston-martin", "manuf_country"] = "UK"
cars.loc[ cars["manufacturer"] == "land-rover", "manuf_country"] = "UK"
cars.loc[ cars["manufacturer"] == "morgan", "manuf_country"] = "UK"
cars.loc[ cars["manufacturer"] == "hennessey", "manuf_country"] = "USA"
cars.loc[ cars["manufacturer"].isnull(), "manuf_country"] = "missing"

In [103]:
cars.manuf_country.value_counts()

USA        248373
Japan      121745
Germany     40831
S.Korea     19829
missing     18220
UK           5090
Sweden       2866
Italy        1238
Name: manuf_country, dtype: int64

Grouping for types according to use

In [104]:
cars.type.value_counts()

sedan          92364
SUV            79882
pickup         43343
truck          35694
other          24160
coupe          19106
hatchback      16388
wagon          10473
van             9574
convertible     6864
mini-van        6263
bus              717
offroad          647
Name: type, dtype: int64

In [105]:
cars["type"].isnull().sum()

112738

In [106]:
cars.loc[ cars["type"] == "sedan", "usage_type"] = "daily" 
cars.loc[ cars["type"] == "SUV", "usage_type"] = "daily"
cars.loc[ cars["type"] == "pickup", "usage_type"] = "professional"
cars.loc[ cars["type"] == "truck", "usage_type"] = "professional"
cars.loc[ cars["type"] == "other", "usage_type"] = "other"
cars.loc[ cars["type"] == "coupe", "usage_type"] = "daily"
cars.loc[ cars["type"] == "hatchback", "usage_type"] = "daily"
cars.loc[ cars["type"] == "wagon", "usage_type"] = "daily"
cars.loc[ cars["type"] == "van", "usage_type"] = "professional"
cars.loc[ cars["type"] == "convertible", "usage_type"] = "daily"
cars.loc[ cars["type"] == "mini-van", "usage_type"] = "professional"
cars.loc[ cars["type"] == "bus", "usage_type"] = "professional"
cars.loc[ cars["type"] == "offroad", "usage_type"] = "other"
cars.loc[ cars["type"].isnull() , "usage_type"] = "missing"

In [107]:
cars["usage_type"].isnull().sum()

0

Dummies

In [108]:
# pd.get_dummies( cars, columns = ["columns and grouped columns"])

In [109]:
cars.VIN.value_counts()

1C4HJWDG6HL702229    194
JM1NC2LF6F0238386    177
WBSDX9C51CE785198    176
1ZVBP8FF8C5218125    155
1GC1KVEG0FF546627    152
                    ...
5YMGY0C50BLK26319      1
5FNYF4H56EB016365      1
1GT120E80FF511484      1
5TFEV54137X027007      1
KNDJC735785853912      1
Name: VIN, Length: 133620, dtype: int64

# The functions

In [130]:
print(cars["manufacturer"].isnull().sum())

18220

In [27]:
def ohe_manuf_country(cars):
    
    # Manufacturer country assigned
    
    cars.loc[ cars["manufacturer"] == "ford", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "chevrolet", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "toyota", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "honda", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "nissan", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "jeep", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "ram", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "gmc", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "dodge", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "bmw", "manuf_country"] = "Germany"
    cars.loc[ cars["manufacturer"] == "hyundai", "manuf_country"] = "S.Korea"
    cars.loc[ cars["manufacturer"] == "mercedes-benz", "manuf_country"] = "Germany"
    cars.loc[ cars["manufacturer"] == "subaru", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "volkswagen", "manuf_country"] = "Germany"
    cars.loc[ cars["manufacturer"] == "kia", "manuf_country"] = "S.Korea"
    cars.loc[ cars["manufacturer"] == "chrysler", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "lexus", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "cadillac", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "buick", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "mazda", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "audi", "manuf_country"] = "Germany"
    cars.loc[ cars["manufacturer"] == "acura", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "infiniti", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "lincoln", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "pontiac", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "volvo", "manuf_country"] = "Sweden"
    cars.loc[ cars["manufacturer"] == "mini", "manuf_country"] = "UK"
    cars.loc[ cars["manufacturer"] == "mitsubishi", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "porsche", "manuf_country"] = "Germany"
    cars.loc[ cars["manufacturer"] == "rover", "manuf_country"] = "UK"
    cars.loc[ cars["manufacturer"] == "mercury", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "saturn", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "tesla", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "jaguar", "manuf_country"] = "UK"
    cars.loc[ cars["manufacturer"] == "fiat", "manuf_country"] = "Italy"
    cars.loc[ cars["manufacturer"] == "alfa-romeo", "manuf_country"] = "Italy"
    cars.loc[ cars["manufacturer"] == "harley-davidson", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "ferrari", "manuf_country"] = "Italy"
    cars.loc[ cars["manufacturer"] == "datsun", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "aston-martin", "manuf_country"] = "UK"
    cars.loc[ cars["manufacturer"] == "land-rover", "manuf_country"] = "UK"
    cars.loc[ cars["manufacturer"] == "morgan", "manuf_country"] = "UK"
    cars.loc[ cars["manufacturer"] == "hennessey", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"].isnull(), "manuf_country"] = "missing"
    
    # One hot encoding to one of USA, Japan, Germany, S.Korea, UK, Sweden, Italy and missing
    
    cars = pd.get_dummies( cars, columns = ["manuf_country"])
    
    # Manufacturer needs to be dropped
    
    return cars

In [28]:
print(cars["condition"].value_counts())
print("")
print(cars["condition"].isnull().sum())

good         115685
excellent    115206
like new      24553
fair           7740
new            1428
salvage         661
Name: condition, dtype: int64

192940

In [29]:
def ohe_condition(cars):
    
    # One hot encoding condition (original values)
    cars.loc[ cars["condition"] == "good", "condition"] = "good"
    cars.loc[ cars["condition"] == "excellent", "condition"] = "good"
    cars.loc[ cars["condition"] == "like new", "condition"] = "good"
    cars.loc[ cars["condition"] == "fair", "condition"] = "fair"
    cars.loc[ cars["condition"] == "new", "condition"] = "good"
    cars.loc[ cars["condition"] == "salvage", "condition"] = "not good"
    cars.loc[ cars["condition"].isnull(), "condition"] = "missing"
    cars = pd.get_dummies( cars, columns = ["condition"])
    
    return cars

In [30]:
def ohe_type(cars):
    
    # Some condition groupings
    
    cars.loc[ cars["type"] == "sedan", "usage_type"] = "daily" 
    cars.loc[ cars["type"] == "SUV", "usage_type"] = "daily"
    cars.loc[ cars["type"] == "pickup", "usage_type"] = "professional"
    cars.loc[ cars["type"] == "truck", "usage_type"] = "professional"
    cars.loc[ cars["type"] == "other", "usage_type"] = "other"
    cars.loc[ cars["type"] == "coupe", "usage_type"] = "daily"
    cars.loc[ cars["type"] == "hatchback", "usage_type"] = "daily"
    cars.loc[ cars["type"] == "wagon", "usage_type"] = "daily"
    cars.loc[ cars["type"] == "van", "usage_type"] = "professional"
    cars.loc[ cars["type"] == "convertible", "usage_type"] = "daily"
    cars.loc[ cars["type"] == "mini-van", "usage_type"] = "professional"
    cars.loc[ cars["type"] == "bus", "usage_type"] = "professional"
    cars.loc[ cars["type"] == "offroad", "usage_type"] = "other"
    cars.loc[ cars["type"].isnull() , "usage_type"] = "missing"
    
    # One hot encoding type (original values)
    
    cars = pd.get_dummies( cars, columns = ["usage_type"])
    
    #type needs to be dropped
    
    return cars

In [31]:
print(cars["cylinders"].value_counts())
print("")
print(cars["cylinders"].isnull().sum())

6 cylinders     105677
4 cylinders      94767
8 cylinders      81179
5 cylinders       2058
10 cylinders      1543
other             1112
3 cylinders        550
12 cylinders       187
Name: cylinders, dtype: int64

171140

In [32]:
def ohe_cylinders(cars):
    
    # One hot encoding cylinders (original values)
    
    cars.loc[ cars["cylinders"] == "6 cylinders", "cylinders" ] = "5-6"
    cars.loc[ cars["cylinders"] == "4 cylinders", "cylinders" ] = "4"
    cars.loc[ cars["cylinders"] == "8 cylinders", "cylinders" ] = "8"
    cars.loc[ cars["cylinders"] == "5 cylinders", "cylinders" ] = "5-6"
    cars.loc[ cars["cylinders"] == "10 cylinders", "cylinders" ] = "10-12"
    cars.loc[ cars["cylinders"] == "other", "cylinders" ] = "missing"
    cars.loc[ cars["cylinders"] == "3 cylinders", "cylinders" ] = "3"
    cars.loc[ cars["cylinders"] == "12 cylinders", "cylinders" ] = "10-12"
    cars.loc[ cars["cylinders"] == "other", "cylinders" ] = "missing"

    cars.loc[ cars["cylinders"].isnull() , "cylinders"] = "missing"
    
    cars = pd.get_dummies( cars, columns = ["cylinders"])
    
    return cars

In [33]:
def ohe_fuel(cars):
    
    cars.loc[ cars["fuel"] == "other", "fuel" ] = "missing"
    cars.loc[ cars["fuel"].isnull() , "fuel"] = "missing"
    # One hot encoding fuel (original values)
    
    cars = pd.get_dummies( cars, columns = ["fuel"])
    return cars

In [34]:
# Manufacturer, condition, type, cylinders, fuel
# cars = ohe_manuf_country(cars)
# cars = ohe_condition(cars)
# cars = ohe_type(cars)
# cars = ohe_cylinders(cars)
# cars = ohe_fuel(cars)

In [35]:
cars.columns

Index(['Unnamed: 0', 'id', 'url', 'region', 'region_url', 'price', 'year',
       'manufacturer', 'model', 'condition', 'cylinders', 'fuel', 'odometer',
       'title_status', 'transmission', 'VIN', 'drive', 'size', 'type',
       'paint_color', 'image_url', 'description', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [36]:
cars = ohe_manuf_country(cars)

In [37]:
cars.columns

Index(['Unnamed: 0', 'id', 'url', 'region', 'region_url', 'price', 'year',
       'manufacturer', 'model', 'condition', 'cylinders', 'fuel', 'odometer',
       'title_status', 'transmission', 'VIN', 'drive', 'size', 'type',
       'paint_color', 'image_url', 'description', 'state', 'lat', 'long',
       'posting_date', 'manuf_country_Germany', 'manuf_country_Italy',
       'manuf_country_Japan', 'manuf_country_S.Korea', 'manuf_country_Sweden',
       'manuf_country_UK', 'manuf_country_USA', 'manuf_country_missing'],
      dtype='object')

In [38]:
cars = ohe_condition(cars)

In [39]:
cars.columns

Index(['Unnamed: 0', 'id', 'url', 'region', 'region_url', 'price', 'year',
       'manufacturer', 'model', 'cylinders', 'fuel', 'odometer',
       'title_status', 'transmission', 'VIN', 'drive', 'size', 'type',
       'paint_color', 'image_url', 'description', 'state', 'lat', 'long',
       'posting_date', 'manuf_country_Germany', 'manuf_country_Italy',
       'manuf_country_Japan', 'manuf_country_S.Korea', 'manuf_country_Sweden',
       'manuf_country_UK', 'manuf_country_USA', 'manuf_country_missing',
       'condition_fair', 'condition_good', 'condition_missing',
       'condition_not good'],
      dtype='object')

In [40]:
cars = ohe_type(cars)

In [41]:
cars.columns

Index(['Unnamed: 0', 'id', 'url', 'region', 'region_url', 'price', 'year',
       'manufacturer', 'model', 'cylinders', 'fuel', 'odometer',
       'title_status', 'transmission', 'VIN', 'drive', 'size', 'type',
       'paint_color', 'image_url', 'description', 'state', 'lat', 'long',
       'posting_date', 'manuf_country_Germany', 'manuf_country_Italy',
       'manuf_country_Japan', 'manuf_country_S.Korea', 'manuf_country_Sweden',
       'manuf_country_UK', 'manuf_country_USA', 'manuf_country_missing',
       'condition_fair', 'condition_good', 'condition_missing',
       'condition_not good', 'usage_type_daily', 'usage_type_missing',
       'usage_type_other', 'usage_type_professional'],
      dtype='object')

In [42]:
cars = ohe_cylinders(cars)

In [43]:
cars.columns

Index(['Unnamed: 0', 'id', 'url', 'region', 'region_url', 'price', 'year',
       'manufacturer', 'model', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'state', 'lat', 'long', 'posting_date',
       'manuf_country_Germany', 'manuf_country_Italy', 'manuf_country_Japan',
       'manuf_country_S.Korea', 'manuf_country_Sweden', 'manuf_country_UK',
       'manuf_country_USA', 'manuf_country_missing', 'condition_fair',
       'condition_good', 'condition_missing', 'condition_not good',
       'usage_type_daily', 'usage_type_missing', 'usage_type_other',
       'usage_type_professional', 'cylinders_10-12', 'cylinders_3',
       'cylinders_4', 'cylinders_5-6', 'cylinders_8', 'cylinders_missing'],
      dtype='object')

In [44]:
cars.fuel.value_counts()

gas         399399
diesel       31077
other        16359
hybrid        5790
electric      2351
Name: fuel, dtype: int64

In [45]:
cars = ohe_fuel(cars)

In [46]:
cars.columns

Index(['Unnamed: 0', 'id', 'url', 'region', 'region_url', 'price', 'year',
       'manufacturer', 'model', 'odometer', 'title_status', 'transmission',
       'VIN', 'drive', 'size', 'type', 'paint_color', 'image_url',
       'description', 'state', 'lat', 'long', 'posting_date',
       'manuf_country_Germany', 'manuf_country_Italy', 'manuf_country_Japan',
       'manuf_country_S.Korea', 'manuf_country_Sweden', 'manuf_country_UK',
       'manuf_country_USA', 'manuf_country_missing', 'condition_fair',
       'condition_good', 'condition_missing', 'condition_not good',
       'usage_type_daily', 'usage_type_missing', 'usage_type_other',
       'usage_type_professional', 'cylinders_10-12', 'cylinders_3',
       'cylinders_4', 'cylinders_5-6', 'cylinders_8', 'cylinders_missing',
       'fuel_diesel', 'fuel_electric', 'fuel_gas', 'fuel_hybrid',
       'fuel_missing'],
      dtype='object')

In [47]:
cars.isnull().sum()

Unnamed: 0                      0
id                              0
url                             0
region                          0
region_url                      0
price                           0
year                         1050
manufacturer                18220
model                        4846
odometer                    55303
title_status                 2577
transmission                 2442
VIN                        187549
drive                      134188
size                       321348
type                       112738
paint_color                140843
image_url                      28
description                    70
state                           0
lat                          7448
long                         7448
posting_date                   28
manuf_country_Germany           0
manuf_country_Italy             0
manuf_country_Japan             0
manuf_country_S.Korea           0
manuf_country_Sweden            0
manuf_country_UK                0
manuf_country_USA               0
manuf_country_missing           0
condition_fair                  0
condition_good                  0
condition_missing               0
condition_not good              0
usage_type_daily                0
usage_type_missing              0
usage_type_other                0
usage_type_professional         0
cylinders_10-12                 0
cylinders_3                     0
cylinders_4                     0
cylinders_5-6                   0
cylinders_8                     0
cylinders_missing               0
fuel_diesel                     0
fuel_electric                   0
fuel_gas                        0
fuel_hybrid                     0
fuel_missing                    0
dtype: int64

In [49]:
cars.manuf_country_missing.value_counts()

0    439993
1     18220
Name: manuf_country_missing, dtype: int64

In [50]:
cars.condition_missing.value_counts()

0    265273
1    192940
Name: condition_missing, dtype: int64

In [51]:
cars.usage_type_missing.value_counts()

0    345475
1    112738
Name: usage_type_missing, dtype: int64

In [52]:
cars.cylinders_missing.value_counts()

0    285961
1    172252
Name: cylinders_missing, dtype: int64

In [53]:
cars.fuel_missing.value_counts()

0    438617
1     19596
Name: fuel_missing, dtype: int64

# Ready for copy paste

In [ ]:
def ohe_manuf_country(cars):
    
    # Manufacturer country assigned
    
    cars.loc[ cars["manufacturer"] == "ford", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "chevrolet", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "toyota", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "honda", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "nissan", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "jeep", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "ram", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "gmc", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "dodge", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "bmw", "manuf_country"] = "Germany"
    cars.loc[ cars["manufacturer"] == "hyundai", "manuf_country"] = "S.Korea"
    cars.loc[ cars["manufacturer"] == "mercedes-benz", "manuf_country"] = "Germany"
    cars.loc[ cars["manufacturer"] == "subaru", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "volkswagen", "manuf_country"] = "Germany"
    cars.loc[ cars["manufacturer"] == "kia", "manuf_country"] = "S.Korea"
    cars.loc[ cars["manufacturer"] == "chrysler", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "lexus", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "cadillac", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "buick", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "mazda", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "audi", "manuf_country"] = "Germany"
    cars.loc[ cars["manufacturer"] == "acura", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "infiniti", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "lincoln", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "pontiac", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "volvo", "manuf_country"] = "Sweden"
    cars.loc[ cars["manufacturer"] == "mini", "manuf_country"] = "UK"
    cars.loc[ cars["manufacturer"] == "mitsubishi", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "porsche", "manuf_country"] = "Germany"
    cars.loc[ cars["manufacturer"] == "rover", "manuf_country"] = "UK"
    cars.loc[ cars["manufacturer"] == "mercury", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "saturn", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "tesla", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "jaguar", "manuf_country"] = "UK"
    cars.loc[ cars["manufacturer"] == "fiat", "manuf_country"] = "Italy"
    cars.loc[ cars["manufacturer"] == "alfa-romeo", "manuf_country"] = "Italy"
    cars.loc[ cars["manufacturer"] == "harley-davidson", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"] == "ferrari", "manuf_country"] = "Italy"
    cars.loc[ cars["manufacturer"] == "datsun", "manuf_country"] = "Japan"
    cars.loc[ cars["manufacturer"] == "aston-martin", "manuf_country"] = "UK"
    cars.loc[ cars["manufacturer"] == "land-rover", "manuf_country"] = "UK"
    cars.loc[ cars["manufacturer"] == "morgan", "manuf_country"] = "UK"
    cars.loc[ cars["manufacturer"] == "hennessey", "manuf_country"] = "USA"
    cars.loc[ cars["manufacturer"].isnull(), "manuf_country"] = "missing"
    
    # One hot encoding to one of USA, Japan, Germany, S.Korea, UK, Sweden, Italy and missing
    
    cars = pd.get_dummies( cars, columns = ["manuf_country"])
    
    # Manufacturer needs to be dropped
    # There are some imputed manufacturers that are not in this section.
    # These need to be considered as well.
    
    return cars

In [ ]:
def ohe_condition(cars):
    
    # One hot encoding condition (original values)
    cars.loc[ cars["condition"] == "good", "condition"] = "good"
    cars.loc[ cars["condition"] == "excellent", "condition"] = "good"
    cars.loc[ cars["condition"] == "like new", "condition"] = "good"
    cars.loc[ cars["condition"] == "fair", "condition"] = "fair"
    cars.loc[ cars["condition"] == "new", "condition"] = "good"
    cars.loc[ cars["condition"] == "salvage", "condition"] = "not good"
    cars.loc[ cars["condition"].isnull(), "condition"] = "missing"
    cars = pd.get_dummies( cars, columns = ["condition"])
    
    return cars

In [ ]:
def ohe_type(cars):
    
    # Some condition groupings
    
    cars.loc[ cars["type"] == "sedan", "usage_type"] = "daily" 
    cars.loc[ cars["type"] == "SUV", "usage_type"] = "daily"
    cars.loc[ cars["type"] == "pickup", "usage_type"] = "professional"
    cars.loc[ cars["type"] == "truck", "usage_type"] = "professional"
    cars.loc[ cars["type"] == "other", "usage_type"] = "other"
    cars.loc[ cars["type"] == "coupe", "usage_type"] = "daily"
    cars.loc[ cars["type"] == "hatchback", "usage_type"] = "daily"
    cars.loc[ cars["type"] == "wagon", "usage_type"] = "daily"
    cars.loc[ cars["type"] == "van", "usage_type"] = "professional"
    cars.loc[ cars["type"] == "convertible", "usage_type"] = "daily"
    cars.loc[ cars["type"] == "mini-van", "usage_type"] = "professional"
    cars.loc[ cars["type"] == "bus", "usage_type"] = "professional"
    cars.loc[ cars["type"] == "offroad", "usage_type"] = "other"
    #---------------------------------------
    # Assumption
    
    cars.loc[ (cars["type"].isnull()) & (cars["fuel"] == "gas") , "usage_type"] = "daily"
    #---------------------------------------
    cars.loc[ cars["type"].isnull() , "usage_type"] = "missing"
    
    # One hot encoding type (original values)
    
    cars = pd.get_dummies( cars, columns = ["usage_type"])
    
    # Type needs to be dropped
    # Too many values are missing. Don't think we can impute.
    # Maybe we can use the most correlated feature to impute.
    
    return cars

In [ ]:
def ohe_cylinders(cars):
    
    # One hot encoding cylinders (original values)
    
    cars.loc[ cars["cylinders"] == "6 cylinders", "cylinders" ] = "5-6"
    cars.loc[ cars["cylinders"] == "4 cylinders", "cylinders" ] = "4"
    cars.loc[ cars["cylinders"] == "8 cylinders", "cylinders" ] = "8"
    cars.loc[ cars["cylinders"] == "5 cylinders", "cylinders" ] = "5-6"
    cars.loc[ cars["cylinders"] == "10 cylinders", "cylinders" ] = "10-12"
    cars.loc[ cars["cylinders"] == "other", "cylinders" ] = "missing"
    cars.loc[ cars["cylinders"] == "3 cylinders", "cylinders" ] = "3"
    cars.loc[ cars["cylinders"] == "12 cylinders", "cylinders" ] = "10-12"
    cars.loc[ cars["cylinders"] == "other", "cylinders" ] = "missing"

    cars.loc[ cars["cylinders"].isnull() , "cylinders"] = "missing"
    
    cars = pd.get_dummies( cars, columns = ["cylinders"])
    
    return cars

In [ ]:
def ohe_fuel(cars):
    
    cars.loc[ cars["fuel"] == "other", "fuel" ] = "missing"
    cars.loc[ cars["fuel"].isnull() , "fuel"] = "missing"
    # One hot encoding fuel (original values)
    
    cars = pd.get_dummies( cars, columns = ["fuel"])
    return cars

In [ ]:
cars = ohe_manuf_country(cars)
cars = ohe_condition(cars)
cars = ohe_type(cars)
cars = ohe_cylinders(cars)
cars = ohe_fuel(cars)